{% extends "base.html" %}
{% load static %}

    
{% block body %}
   <!-- Hero Area Start-->
   <div class="slider-area ">
      <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
          <div class="container">
              <div class="row">
                  <div class="col-xl-12">
                      <div class="hero-cap text-center">
                          <h2>Blog Details</h2>
                      </div>
                  </div>
              </div>
          </div>
      </div>
   </div>
   <!-- Hero Area End -->
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="{{object.image.url}}" alt="">
                  </div>
                  <div class="blog_details">
                     <h2>{{object.title}}
                     </h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        {% for tag in object.tags.all %}<li><a href="#"><i class="fa fa-user"></i> {{ tag.name }}</a></li>{% endfor %}
                        <li><a href="#"><i class="fa fa-comments"></i> {{comments.count}} Comments</a></li>
                     </ul>
                     <p class="excert">
                        {{object.post}}
                     </p>

                  </div>
               </div>
               <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
                     <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                        people like this</p>
                     <div class="col-sm-4 text-center my-2 my-sm-0">
                        <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                     </div>
                     <ul class="social-icons">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                     </ul>
                  </div>
               </div>
               <div class="comments-area">
                  <h4>{{comments.count}} Comments</h4>
                 
                  {% for comment in comments  %}
                     <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                           <div class="user justify-content-between d-flex">
                              <div class="thumb">
                                 <img src="assets/img/comment/comment_1.png" alt="">
                              </div>
                              <div class="desc">
                                 <p class="comment">
                                    {{comment.comment}}
                                 </p>
                                 <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                       <h5>
                                          <a href="#">{{comment.auther}}</a>
                                       </h5>
                                       <p class="date">{{comment.date}} </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  {% endfor %}
               </div>
               {% comment %} <div class="comment-form">
                  <h4>Leave a Reply</h4>
                  <form class="form-contact comment_form" action="#" id="commentForm">
                     <div class="row">
                        <div class="col-12">
                           <div class="form-group">
                              <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                 placeholder="Write Comment"></textarea>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                           </div>
                        </div>
                        <div class="col-12">
                           <div class="form-group">
                              <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                     </div>
                  </form>
               </div>  {% endcomment %}
               
            </div>
            <div class="col-lg-4">
               <div class="blog_right_sidebar">
                  <aside class="single_sidebar_widget popular_post_widget">
                     <h3 class="widget_title">Recent Post</h3>
                     {% for object in post_list  %}
                     <div class="media post_item">
                         <img src="{{object.image.url}}" style="height: 90px; width: 90px;" alt="post">
                         <div class="media-body">
                             <a href="single-blog.html">
                                 <h3>{{object.title}}</h3>
                             </a>
                             <p>{{object.date}}</p>
                         </div>
                     </div>
                     {% endfor %}

                 </aside>
                 <aside class="single_sidebar_widget tag_cloud_widget">
                     <h4 class="widget_title">Tag Clouds</h4>
                     <ul class="list">
                         {% for object in object_detail  %}
                             {% for tag in object.tags.all %}
                                 <li> <a href="#">{{ tag.name }}</a> </li>
                             {% endfor %}
                         
                         {% endfor %}
                     </ul>
                 </aside>
               </div>
            </div>

         </div>
      </div>
   </section>
   {% endblock body %}